/*
 Theme Name:   Twenty Fifteen C64 Child
 Theme URI:    http://gitlab.com/jaredjennings/wordpress-twentyfifteen-c64-child
 Description:  Twenty Fifteen, with C64 Pro fonts
 Author:       Jared Jennings
 Author URI:   http://j.agrue.info
 Template:     twentyfifteen
 Version:      1.0.0
 License:      GNU General Public License v3 or later
 License URI:  http://www.gnu.org/licenses/gpl-3.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-c64-child
*/

/* Thanks, https://css-tricks.com/snippets/css/using-font-face/ */
@font-face {
  font-family: "c64_pro";
  src: url('fonts/c64_pro-style.eot');
  src: url('fonts/c64_pro-style.eot?#iefix') format('embedded-opentype'),
       url('fonts/c64_pro-style.woff2') format('woff2'),
       url('fonts/c64_pro-style.woff') format('woff'),
       url('fonts/c64_pro-style.ttf') format('truetype'),
       url('fonts/c64_pro-style.svg#C64Pro') format('svg');
}

.site-title {
 font-family: "c64_pro", "Noto Sans", sans-serif;
}

.site-description {
 font-family: "c64_pro", "Noto Sans", sans-serif;
}

.widget-title {
 font-family: "c64_pro", "Noto Sans", sans-serif;
}
